<% let pageTitle="LFG Dashboard" ; %>
    <%- include('../partials/header.ejs', { pageTitle: pageTitle }) %>
        <link rel="stylesheet" type="text/css" href="/css/social_media/style.css">

        <div class="container">
            <div class="left-container">
                <div class="bio-container">
                    <img class="profile-picture" src="/images/derrickLewis.jpg" alt="">
                    <h4>John Smith</h4>
                    <p>Software Developer at Unknown</p>
                </div>
                <div class="likes-container">
                    <h4>Profile Likes</h2>
                        <p>999</p>
                </div>
                <div class="recent-post">
                    <h4>Unknown Workplace Fest</h4>
                    <p><a href="/">View Post</a></p>
                </div>
            </div>
            <div class="middle-container">
                <!--FOR EACH POST-->
                <div class="post-container">
                    <div class="top-bar">
                        <img src="/images/derrickLewis.jpg" alt="" class="profile-picture">
                        <div class="post-info">
                            <h4>John Smith</h4>
                            <p>November 2, 2023 9:34PM</p>
                        </div>
                    </div>
                    <div class="post-main">
                        <div class="post-title">
                            <h4>Unknown Workplace Fest 2023 London</h4>
                        </div>
                        <div class="post-content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste vel optio quis aut
                                consequuntur et, placeat dicta beatae culpa unde voluptates expedita natus sed saepe ea
                                quibusdam incidunt asperiores ducimus.</p>
                        </div>
                        <div class="post-stats">
                            <div class="left">
                                <p>122 &#9825;</p>
                                <a href="">Comment *Comment Symbol*</a>
                            </div>
                            <div class="right">
                                <p>*view symbol* 249</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END FOR EACH POST-->
                <div class="post-container">
                    <div class="top-bar">
                        <img src="/images/derrickLewis.jpg" alt="" class="profile-picture">
                        <div class="post-info">
                            <h4>John Smith</h4>
                            <p>November 2, 2023 9:34PM</p>
                        </div>
                    </div>
                    <div class="post-main">
                        <div class="post-title">
                            <h4>Unknown Workplace Fest 2023 London</h4>
                        </div>
                        <div class="post-content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste vel optio quis aut
                                consequuntur et, placeat dicta beatae culpa unde voluptates expedita natus sed saepe ea
                                quibusdam incidunt asperiores ducimus.</p>
                        </div>
                        <div class="post-stats">
                            <div class="left">
                                <p>122 &#9825;</p>
                                <a href="">Comment *Comment Symbol*</a>
                            </div>
                            <div class="right">
                                <p>*view symbol* 249</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END FOR EACH POST-->
                <!--FOR EACH POST-->
                <div class="post-container">
                    <div class="top-bar">
                        <img src="/images/derrickLewis.jpg" alt="" class="profile-picture">
                        <div class="post-info">
                            <h4>John Smith</h4>
                            <p>November 2, 2023 9:34PM</p>
                        </div>
                    </div>
                    <div class="post-main">
                        <div class="post-title">
                            <h4>Unknown Workplace Fest 2023 London</h4>
                        </div>
                        <div class="post-content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste vel optio quis aut
                                consequuntur et, placeat dicta beatae culpa unde voluptates expedita natus sed saepe ea
                                quibusdam incidunt asperiores ducimus.</p>
                        </div>
                        <div class="post-stats">
                            <div class="left">
                                <p>122 &#9825;</p>
                                <a href="">Comment *Comment Symbol*</a>
                            </div>
                            <div class="right">
                                <p>*view symbol* 249</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END FOR EACH POST-->
            </div>
            
            
            <div class="right-container">
                <h3>Top Post</h3>
                <!--FOR EACH POST-->
                <div class="post">
                    <div class="top-bar">
                        <img src="/images/derrickLewis.jpg" alt="">
                        <p><a href="/">Unknown Workplace Fest</a></p>
                    </div>
                    <div class="post-stats">
                        <p><img src="/images/social-media/heart.png" alt=""> 999</p>
                        <p><img src="/images/social-media/comment.png" alt=""> 45</p>
                    </div>
                </div>
                <!--END FOR EACH POST-->
                <div class="post">
                    <div class="top-bar">
                        <img src="/images/derrickLewis.jpg" alt="">
                        <p><a href="/">Unknown Workplace Fest</a></p>
                    </div>
                    <div class="post-stats">
                        <p><img src="/images/social-media/heart.png" alt=""> 999</p>
                        <p><img src="/images/social-media/comment.png" alt=""> 45</p>
                    </div>
                </div>
                <div class="post">
                    <div class="top-bar">
                        <img src="/images/derrickLewis.jpg" alt="">
                        <p><a href="/">Unknown Workplace Fest</a></p>
                    </div>
                    <div class="post-stats">
                        <p><img src="/images/social-media/heart.png" alt=""> 999</p>
                        <p><img src="/images/social-media/comment.png" alt=""> 45</p>
                    </div>
                </div>
            </div>
        </div>


        <%- include('../partials/footer.ejs')%>