<% let pageTitle="LFG Dashboard" ; %>
<%- include('../partials/header.ejs', { pageTitle: pageTitle }) %>
<p>Title: <%= post.title%></p>
<p>Content: <%= post.content%></p>
<%- include('../partials/footer.ejs')%>