<% let pageTitle = "Homepage"; %>
<%- include('./partials/header.ejs', { pageTitle: pageTitle }) %>
<body>
    <h4>Home Page</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quos quasi voluptatum repellendus non sunt animi nostrum praesentium? Facere aperiam porro corporis, vero quidem consectetur. Obcaecati rem id amet accusamus sapiente ad veritatis est perferendis! Quas quidem perspiciatis accusantium, repellendus minus quasi incidunt inventore perferendis deserunt eligendi?</p>
</body>
<%- include('./partials/footer.ejs')%>