*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    
}
body{
    background-color: #737373;
}

/*Navigation*/
nav{
    height:150px;
    background-image: url('/images/waypoint-navbar.jpeg');
}

nav img {
  width: 245px;
  margin-top: 40px;
  margin-left: 8%;
}

nav ul {
  float: right;
  margin-right: 25px;
}

nav ul li {
  display: inline-block;
  line-height: 125px;
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  color: white;
  font-size: 20px;
  padding: 5px 0;
}

nav ul li a:before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: orangered;  
  transform:scaleX(0);  
  transform-origin:center;
  transition: transform .4s linear;
}

nav ul li a:hover:before{
  transform:scaleX(1);
  transform-origin:center;
}
/*Navigation Ends*/

  
/* footer */
footer {
    background-image: url('/images/waypoint-navbar.jpeg');
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}
footer p {
  font-size: 14px;
  color: white;
}
.footer-at-bottom{
    position: fixed;
    width:100%;
    bottom: 0;
}

  


/*login page*/
.page-container {
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
}
.container {
  min-width: 400px;
  min-height: 400px ;
  margin: 0 auto;
  padding: 20px;
  background: #D9D9D9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 30px auto;
  text-align: center;
}

h2 strong{
  color:orangered;
}

a {
  color: black;
}

.form-group {
  margin-bottom: 25px;
}

label {
  display: block;
  font-weight: 600;
}

input[type="text"],
input[type="password"] {
  background: #ECE4DF;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 2px solid orangered;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  outline: none;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #DDD0C8;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}

.login-button:hover {
  background-color: orange;
}
.separator {
  text-align: center;
  margin-top: 20px; 
}

.separator .line {
  flex: 1;
  border-bottom: 5px solid #ccc;
  margin: 0 10px;
}

.registration-link{
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #C5AEA0;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}

.registration-link:hover {
  background-color: orange;
}
