<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>Login</title>
<body>
  <div class="page-container">
    <div class="container">
        <h2>Login Into <a href="/">Waypo<strong>Î</strong>nt</a></h2>

        <form action="/user/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="eail" name="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
          </div>
          <button class="login-button" type="submit">Log In</button>
        </form>
        <div class="separator">
            <div class="line"></div>
          </div>
        <div class="registration-link">
          <a href="/user/register">Create New Account</a>
        </div>
      </div>
    </div>
</body>