<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>Register</title>
<body>
  <div class="page-container">
    <div class="container">
        <h2>Register for <a href="/">Waypo<strong>Î</strong>nt</a></h2>

        <form action="/user" method="POST">
            <div class="form-group">
              <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
            </div>
            <div class="form-group">
              <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
            </div>
            <div class="form-group">
              <input type="password" id="createPassword" name="createPassword" placeholder="Create Password" required>
            </div>
            <div class="form-group">
              <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
            </div>
            <button class="register-button" type="submit">Sign Up</button>
        </form>          
        <div class="separator">
            <div class="line"></div>
          </div>
        <div class="registration-link">
          <a href="/user/login">Already have an account?</a>
        </div>
      </div>
    </div>
</body>