<% let pageTitle = "Article"; %>
<%- include('../partials/header.ejs', { pageTitle: pageTitle }) %>

<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>Article1</title>
<body>
    <div class="container">
        <h1 style="text-align: center; font-size: 60px;">UFC's Derrick Lewis Arrested</h1>
        <img src="/images/derrickLewis.jpg" class="center" alt="img" height = "700px";>
        <h1></h1>
        <p>
            UFC heavyweight Derrick Lewis was arrested last Wednesday in Texas on suspicion of reckless driving, a misdemeanor charge, according to Harris County court records.

According to the complaint, Lewis allegedly "unlawfully, recklessly" drove his car in "willful and wanton disregard for the safety of persons and property, by driving at a high rate of speed, and changing lanes in an unsafe manner."

ABC 13 reported that Lewis was allegedly driving 136 mph in a 50 mph zone in a red Lamborghini.

Lewis is scheduled to fight Jailton Almeida in the UFC Fight Night main event this Saturday in Sao Paulo, Brazil. Lewis' arrest did not prevent him from traveling to the fight, according to UFC officials. Lewis is already in Brazil and partaking in fight week activities.

A request for comment from Lewis' attorney was not immediately answered Tuesday.

Lewis (27-11, 1 NC) owns the record for most knockouts in UFC history (14). The 38-year-old Houston area resident is coming off a TKO win over Marcos Rogerio de Lima at UFC 291 in July.
        </p>
        <h6 style="font-size: 12px;">News article from: https://www.espn.com/mma/story/_/id/38789886/ufc-derrick-lewis-recently-arrested-accused-reckless-driving</h6>
    </div>
</body>

<%- include('../partials/footer.ejs')%>